$:.unshift File.join( File.dirname( __FILE__ ), 'lib' )

require 'maru/master'

# Cookie-based session store. The secret can be anything, but it must be unique and, well, secret.
# Anyone who knows the secret can potentially change session data, and therefore impersonate
# other users.
#
# The default setting should generate a random secret, but it won't be saved. Please change 'nil' to
# a long, random string of your choice.
use Rack::Session::Cookie, :secret => nil, :expire_after => 2592000 # 1 month

## uncomment to use a basic filestore. configuration is up to you.
## without a filestore, maru will be pretty useless, and most things won't work.
#require 'maru/basic_filestore'
#Maru::Master.settings.filestore = Maru::BasicFilestore.new "/srv/http/example.com/files/maru/", "http://example.com/files/maru/"

## uncomment to set the log level to WARN (the default is INFO)
#Maru::Log.log_level = "WARN"

## uncomment for access logging
#use Rack::CommonLogger

run Maru::Master
