<div id="group-new" class="single-pane">
	<form id="group-new-form" method="POST" enctype="multipart/form-data" onsubmit="return validateGroupNewForm();">
		<select id="kind" name="kind" onchange="setGroupNewFormKind(this.value);">
			<option value="">--- [select one] ---</option>
		<% Maru::Plugin::PLUGINS.each do |pl| %>
			<option value="<%== pl.machine_name %>"><%== pl.human_name %></option>
		<% end %>
		</select>

		<div id="group-new-form-body">
		</div>

		<label for="public"><input id="group-new-form-public-checkbox" type="checkbox" name="public" /> Public</label>
		<input id="group-new-form-submit" type="submit" value="Submit" disabled />
	</form>
</div>
