<div id="user-preferences" class="single-pane">
	<div>
		<h1>Change password</h1>
		<form id="change-password" onsubmit="changePassword(<%== @target_user.id %>, this);">
		<% unless @user.is_admin and @user != @target_user %>
			<label for="current_password">
				Current password<br/>
				<input name="current_password" type="password"/>
			</label>
		<% end %>
			<label for="new_password">
				New password<br/>
				<input name="new_password" type="password"/>
			</label>
			<label for="confirm_password">
				Confirm password<br/>
				<input name="confirm_password" type="password"/>
			</label>
			<input type="submit" value="Change password"/>
		</form>
	</div>
	<div>
		<h1>Workers</h1>
		<ul id="workers">
		<% @user.workers.each do |worker| %>
			<li>
				<div class="name"><%== worker.name %></div>
				<div class="key"><%== worker.authenticator %></div>
				<nav>
				<ul>
					<li>regenerate key</li>
					<li>delete</li>
				</ul>
				</nav>
			</li>
		<% end %>
		</ul>
	</div>
	<div>
		<h1>Tasks</h1>
		<nav class="vertical">
		<ul>
		<% if @user == @target_user %>
			<li>log out of all sessions except this one</li>
		<% else %>
			<li>force user to log out</li>
		<% end %>
			<li>delete account</li>
		</ul>
		</nav>
	</div>
</div>
