<form method="POST">
	<label for="email">Email:</label>
	<input name="email"/>
	<br/>
	<label for="password">Password:</label>
	<input name="password" type="password"/>
	<br/>
	<input type="submit" value="log in"/>
</form>
