<form id="login" method="POST">
	<label for="email">
		Email <br/>
		<input name="email"/>
	</label>
	<label for="password">
		Password <br/>
		<input name="password" type="password"/>
	</label>
	<input type="submit" value="log in"/>
</form>
