<form method="POST">
  <% if @user == @target_user %>
    <div>
      <label for="old_password">Old</label>
      <input name="old_password" type="password" />
    </div>
  <% end %>

  <div>
    <label for="new_password">New</label>
    <input name="new_password" type="password" />
  </div>
  <div>
    <label for="confirm_password">Confirm</label>
    <input name="confirm_password" type="password" />
  </div>
  <div class="clear"></div>
  <div>
    <input type="submit" value="Change password" />
  </div>
</form>
