-# Handlebars template for a job item
%template.handlebars#task_job_template
  %li>
    .job_left_group
      {{#if name}}
      .job_name {{name}}
      {{else}}
      .job_name.unnamed&= "<unnamed>"
      {{/if}}

      .job_worker {{worker}}

    .job_right_group
      .job_type
        {{#if type_namespace}}
        %span.namespace> {{type_namespace}}
        {{type_subname}}
        {{else}}
        {{type}}
        {{/if}}

      .job_submitted_at {{submitted_at}}
