html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

  font-family: sans-serif

.clear_both
  clear: both

a, a:visited
  color: #ffffff
  text-decoration: none
  cursor: pointer
a:hover
  text-decoration: underline

nav
  height: 1.5em
  width: auto
  padding: 0.25em

  position: absolute
  top: 0
  left: 0
  right: 0

  background-color: #222
  color: #ddd

#nav_left
  position: absolute
  left: 15px
  top: 0.25em
  bottom: 0.25em

  height: 1.2em
  margin: auto 0

  font-weight: bold

#nav_right
  position: absolute
  right: 15px
  top: 0.25em
  bottom: 0.25em

  height: 1em
  display: block
  margin: auto 0
  padding: 0

  li
    display: inline-block
    padding: 0
    margin: 0

@mixin vendor-prefix($property, $value)
  #{$property}: $value
  -webkit-#{$property}: $value
  -moz-#{$property}: $value
  -ms-#{$property}: $value
  -o-#{$property}: $value

.callout_popup
  position: absolute
  z-index: 1000
  width: 300px
  padding: 25px
  top: 42px
  right: -10px

  background-color: #ffffff
  color: #000000

  $callout-border: 1px solid #000000
  border: $callout-border
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)

  opacity: 0
  transition: opacity ease-out 0.4s

  display: none

  &.show
    display: block
    opacity: 1

  &::before
    content: ""
    width: 25px
    height: 25px
    background-color: #ffffff
    position: absolute
    top: -14px
    right: 25px

    border-top: $callout-border
    border-left: $callout-border

    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3)

    @include vendor-prefix(transform, rotate(45deg))

.field_group
  clear: both
  margin-bottom: 10px

  label
    float: left
    display: block
    padding: 0.2em

  input
    float: right
    margin: 0
    padding: 0.2em
    border: 1px solid #ddd

    @include vendor-prefix(box-sizing, border-box)

  .end
    clear: both

.button
  display: inline-block
  padding: 0.3em
  border: 1px solid #ddd
  background-color: #eeeeee
  color: #000000
  cursor: pointer

input[type='submit']
  @extend .button

#new_task
  input[name='name']
    width: 200px
  input[name='total_jobs']
    width: 50px

#tasks
  background-color: #bbbbbb
  display: block
  margin: 0
  padding: 20px

  position: absolute
  top: 2em
  bottom: 0
  left: 0
  right: 440px

  width: auto
  height: auto
  overflow: auto

  li
    display: block
    background-color: #333333
    color: #ddd

    list-style: none

    padding: 0.75em
    height: 4em

    margin-bottom: 20px

    cursor: pointer

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)

    transition: background-color ease 0.5s, box-shadow ease 0.2s

    &:hover
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.7)

    &.selected
      background-color: #442255
      box-shadow: 0 0 20px rgba(68, 34, 85, 0.5)

    &.flash
      background-color: #aa6633

.task_name
  margin-bottom: 1em
  margin-top: 0.1em
  font-weight: bold
  float: left

.task_speed
  margin-bottom: 1em
  margin-top: 0.1em
  float: right

.progress_bar
  background-color: #887799
  color: #ccc
  border: 2px solid #776688
  height: 1.25em
  margin: 0
  padding: 0

.progress_fill
  background-color: #774488
  height: 100%
  padding: 0
  margin: 0
  transition: width ease 0.5s

.progress_text
  text-align: center
  margin-top: -1.15em

#details
  background-color: #774488

  color: #ddccee
  position: absolute
  top: 2em
  bottom: 0
  right: 0

  width: 400px
  height: auto
  overflow: auto

  padding: 20px

  border-left: 1px solid #222

  h1, h2
    color: #fff

  dt
    font-weight: bold
    color: #eee

  .submit_to
    display: block
    margin: 0
    margin-bottom: 7px
    word-wrap: break-word

    background-color: #ddccee
    color: #222
    padding: 10px

#jobs
  display: block
  padding: 0
  margin: 0

  &:empty::after
    content: "No jobs submitted."
    display: block
    margin: 10px 0

  li
    display: block

    background-color: #222

    padding: 0.5em
    height: 2em

    clear: both

    margin-bottom: 7px

    overflow: hidden

.job_left_group
  float: left

.job_name
  font-size: 12pt

  &.unnamed
    color: #8866aa

.job_worker
  font-size: 8pt

.job_right_group
  float: right
  text-align: right

.job_type
  font-size: 10pt

  .namespace
    color: #8866aa

.job_submitted_at
  font-size: 8pt
  margin-top: 2pt
