/* maru stylesheet */

@-webkit-keyframes flash-box-success {
	15% {
		background-color: #00d000;
		box-shadow: 0 0 10px #00d000;
	}
}

@-webkit-keyframes flash-box-error {
	15% {
		background-color: #d00000;
		box-shadow: 0 0 10px #d00000;
	}
}

@-webkit-keyframes flash-text-success {
	15% {
		color: #00d000;
		text-shadow: 0 0 5px #00d000;
	}
}

@-webkit-keyframes flash-text-error {
	15% {
		color: #d00000;
		text-shadow: 0 0 5px #d00000;
	}
}

@-moz-keyframes flash-box-success {
	15% {
		background-color: #00d000;
		box-shadow: 0 0 10px #00d000;
	}
}

@-moz-keyframes flash-box-error {
	15% {
		background-color: #d00000;
		box-shadow: 0 0 10px #d00000;
	}
}

@-moz-keyframes flash-text-success {
	15% {
		color: #00d000;
		text-shadow: 0 0 5px #00d000;
	}
}

@-moz-keyframes flash-text-error {
	15% {
		color: #d00000;
		text-shadow: 0 0 5px #d00000;
	}
}

.float-left  { float: left;  }
.float-right { float: right; }
.clear       { clear: both;  }

body {
	margin: 0;
	padding: 0;
	font-family: Droid Sans, Verdana, Arial, sans-serif;
	background-color: #202020;
	color: #d0d0d0;
}

input[type="submit"], button {
	cursor: pointer;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 36px;
	width: auto;

	background-color: #202020;
	color: #d0d0d0;
	margin: 0;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 16px;
	border-bottom: 3px solid #606060;
}

#header h1 {
	float: left;
	font-size: inherit;
	margin: 5px;
}

#header h1 a {
	margin-right: 4px;
}

#header nav {
	float: right;
	text-align: right;
	display: block;
	margin: 5px;
}

nav ul {
	display: inline;
	padding: 0;
}

nav.vertical ul {
	display: inline-block;
	text-align: inherit;
	margin: 0;
}

nav ul li {
	display: inline;
}

nav.vertical ul li {
	display: block;
	margin: 0.25em 0;
}

nav ul li::after {
	content: " | ";
	color: #909090;
}

nav ul li:last-child::after {
	content: "";
}

nav.vertical ul li::after {
	content: "";
}

a, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

#error {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 300px;

	padding: 5px;
	text-align: center;

	background-color: #662222;
	color: #d0d0d0;
	/*border: 2px dashed #d0d0d0;*/
	border-radius: 20px;

	opacity: 0.9;
	z-index: 4;
	cursor: pointer;

	-webkit-transition: opacity 0.5s ease-in;
	-moz-transition: opacity 0.5s ease-in;
	-ms-transition: opacity 0.5s ease-in;
	-o-transition: opacity 0.5s ease-in;
}

#error ul {
	padding: 0;
	list-style-type: none;
}

#error ul li::before {
	content: "– ";
	margin-right: 4px;
}

#content {
	position: absolute;
	top: 44px;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
	overflow: auto;
}

#login {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 400px;
	height: 200px;
	padding: 16px;

	background-color: #909090;
	border: 1px dashed #303030;
	color: #303030;
}

#login label {
	display: block;
	margin-bottom: 20px;
}

#login input:not([type="submit"]) {
	width: 392px;
	padding: 4px;
	font-size: 20px;
	margin-top: 5px;
}

#login input[type="submit"] {
	display: block;
	position: absolute;
	width: 100px;
	padding: 0.5em;
	bottom: 16px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 14pt;

	border: none;
	border-radius: 10px;
	background-color: #d0d0d0;
	color: #202020;
}

#groupsPane {
	position: absolute;
	left: 0;
	width: 65%;
	height: 100%;

	background-color: #909090;
	color: #303030;
}

#detailsPane {
	position: absolute;
	right: 0;
	width: 35%;
	height: 100%;

	background-color: #303030;
	color: #909090
}

#groupsPane > ul, #detailsPane > div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
	overflow: auto;
	padding: 1em;
}

#groupsPane > ul {
	list-style-type: none;
	margin: 0;
	border-right: 1px solid #303030;
}

#detailsPane > div {
	border-left: 1px solid #909090;
}

.group {
	background-color: #909090;
	margin: 5px;
	height: 30px;
	overflow: hidden;
	border-radius: 10px;
	border: 2px solid #303030;
	text-shadow: 0 0 3px #202020;
	color: #d0d0d0;
	cursor: pointer;

	box-shadow: 0 0 0 #ffffff;

	-moz-transition: box-shadow 0.1s ease-in;
	-webkit-transition: box-shadow 0.1s ease-in;
	-ms-transition: box-shadow 0.1s ease-in;
	-o-transition: box-shadow 0.1s ease-in;
}

.group.selected {
	box-shadow: 0 0 10px #d09040;
}

.group.paused.selected {
	box-shadow: 0 0 10px #4090d0;
}

.group .info-part {
	margin: 0;
	padding: 0;
}

.group .info-part, .group .action-part {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.group.own.selected .info-part {
	margin-right: 73px;
}

.group .progress, .group .progress * {
	margin: 0;
	padding: 0;
	height: 30px;
}

.group .progress * {
	display: inline-block;

	-webkit-transition: width ease-in 0.5s;
	-moz-transition: width ease-in 0.5s;
	-ms-transition: width ease-in 0.5s;
	-o-transition: width ease-in 0.5s;
}

.group .progress .complete {
	background-color: #303030;
}

.group .progress .processing {
	background-color: #606060;
}

.group .info {
	position: relative;
	height: 20px;
	padding: 5px;
	top: -30px;
}

.group .info > * {
	display: inline-block;
}

.group .info .name {
	float: left;
}

.group .info .owner {
	float: right;
}

.group .action-part {
	margin: 0;
	padding: 0;

	position: relative;
	top: -60px;
	left: 1px;

	float: right;
	width: 0;
	opacity: 0;
	overflow: hidden;
}

.group .action-part > div {
	width: 74px;
	height: 30px;
	margin: 0;
	padding: 0;
}

.group.own.selected .action-part {
	width: 74px;
	opacity: 1;
}

.group .action-part .delete, .group .action-part .pause, .group .action-part .resume {
	display: block;
	cursor: pointer;

	float: right;
	position: relative;
	padding: 3px 6px;
	margin: 0;
	width: 24px;
	height: 24px;
	overflow: hidden;

	border-left: 1px solid #303030;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.group .action-part .delete span, .group .action-part .pause span, .group .action-part .resume span {
	display: block;
	width: 24px;
	height: 24px;
	position: relative;
}

.group .action-part .delete {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;

	background-color: #903030;
}

.group .action-part .delete span {
	background-image: url(/img/delete-icon.svg);
}

.group .action-part .pause {
	background-color: #3080c0;
}

.group .action-part .pause span {
	background-image: url(/img/pause-icon.svg);
}

.group .action-part .resume {
	background-color: #c08030;
}

.group .action-part .resume span {
	background-image: url(/img/resume-icon.svg);
}

.group.paused .action-part .pause, .group:not(.paused) .action-part .resume {
	padding: 6px 0;
	width: 0;
	opacity: 0;
	border: 0;
}

#details h1 {
	font-size: 20pt;
	color: #c0c0c0;
}

#details h2 {
	font-size: 14pt;
	color: #a0a0a0;
}

#details h3 {
	font-size: 12pt;
	color: #808080;
	padding-left: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #606060;
}

#status {
	padding-left: 1em;
}

#status div::before {
	display: inline-block;
	width: 10em;
	color: #d0d0d0;
}

#status .complete::before {
	content: "complete: ";
}

#status .processing::before {
	content: "processing: ";
}

#status .remaining::before {
	content: "remaining: ";
}

#status .complete::after, #status .processing::after, #status .remaining::after {
	content: " job(s)";
}

#status .estimated-time-left::before {
	content: "estimated time left: ";
}

#processing-jobs {
	width: 100%;
}

#processing-jobs tr {
	text-align: left;
}

#processing-jobs th {
	color: #606060;
	font-weight: normal;
	padding-left: 1em;
}

#processing-jobs td {
	padding-left: 1em;
}

#group-new label {
	display: block;
}

.single-pane {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 500px;
	min-height: 100%;
	margin: 0 auto;
	padding: 2em 4em;

	text-align: center;

	background-color: #909090;
	color: #303030;
	border-left: 1px dashed #202020;
	border-right: 1px dashed #202020;
}

.single-pane h1 {
	font-size: 16pt;
	margin: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #606060;
	color: #202020;
	font-weight: normal;
}

.single-pane ul {
	display: inline-block;
	text-align: left;
}

.single-pane label {
	display: block;
	margin-bottom: 20px;
}

.single-pane input:not([type]), .single-pane input[type="password"] {
	width: 300px;
	padding: 4px;
	font-size: 12px;
	margin-top: 10px;
}

.single-pane input[type="submit"] {
	padding: 0.5em;
	font-size: 12pt;

	border: none;
	border-radius: 10px;
	background-color: #d0d0d0;
	color: #202020;
}

.single-pane nav {
	color: #d0d0d0;
}

.single-pane nav ul li::after {
	color: #606060;
}

#user-preferences #workers li, #admin #users li {
	margin-top: 1em;
}

#user-preferences #workers li .name::before {
	display: inline-block;
	content: "name: ";
	width: 4em;
	color: #d0d0d0;
}

#user-preferences #workers li .key::before {
	display: inline-block;
	content: "key: ";
	width: 4em;
	color: #d0d0d0;
}

#user-preferences #workers li nav {
	margin-top: 0.5em;
}

#user-preferences #workers input:not([type="submit"]) {
	width: 200px;
	height: 16px;
}

#user-preferences #workers input[type="submit"] {
	border-radius: 5px;
	padding: 0.5em;
	font-size: 12px;
}

#admin #users .permissions label {
	margin: 10px;
}

#admin #add-user label {
	margin-bottom: 5px;
}

#admin #add-user span {
	display: inline-block;
	width: 6em;
}

#admin #add-user input:not([type="submit"]) {
	width: 200px;
	padding: 0.25em;
}

#admin #add-user input[type="submit"] {
	margin-top: 0.5em;
	margin-left: 6em;
}
