%template#new_task_template
  #new_task.popup_window
    %h1 Create a new task

    %form
      .setup
        .field_group
          %label Name*
          %input.string{ name: 'name' }

        .field_group
          %label Visibility
          %select{ name: 'visibility_level' }
            %option{ value: 2, selected: true } Only users I explicitly select can see this task
            %option{ value: 1 }                 Only users who are logged in can see this task
            %option{ value: 0 }                 Anyone can see this task

        .checkbox_group
          %label Make the results of this task accessible to anyone who can see it
          %input{ type: 'checkbox', name: 'results_are_public' }

        - unless settings.producer_tasks.empty?
          .field_group
            %label Action
            %select{ name: 'producer' }
              %option{ value: '', selected: true } Create an empty task
              - settings.producer_tasks.each do |slug, task|
                %option{ value: slug }&= task.name

        .if_empty
          .field_group
            %label Size (in jobs)
            %input.number{ name: 'total_jobs' }

          %a.button.create_button Create task

        .if_not_empty
          .field_group
            %label Network*
            %select{ name: 'network' }
              %option{ value: '', selected: true } -
              - settings.networks.each do |slug, network|
                %option{ value: slug }& #{network[:host]} (as #{network[:client_name]})

          .checkbox_group
            %label Use the number of jobs generated as the size of the task
            %input{ type: 'checkbox', name: 'increase_total', checked: true }

          %a.button.configure_button Configure task

      .configure
        .producer_form

        %a.button.create_button Create and submit task
